@model IEnumerable<dynamic>

@{
    ViewBag.Title = "ArrayWithAnonymousType";
    //取得所有Titles的欄位名稱
    var titles = Model.First().GetType().GetProperties();
}

<h2>ArrayWithAnonymousType</h2>

<table class="table">
    <tr>
        <th>
            @titles[0].Name
        </th>

        <th>
            @titles[1].Name
        </th>
        <th>
            @titles[2].Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>@item.GetType().GetProperty("ID").GetValue(item)</td>
        <td>@item.GetType().GetProperty("Name").GetValue(item)</td>
        <td>@item.GetType().GetProperty("UnitPrice").GetValue(item)</td>
    </tr>
    }
</table>
